<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-7">
            <h1 class="page-header">The New Airport Terminal Will Create Jobs & Improve the Economy</h1>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-7">
            <blockquote><strong>“Building a new air terminal will create jobs and careers for Bermudians</strong> and support Bermuda’s economic growth for many years to come – without adding a penny to our national debt.”
            </blockquote>
            <p style="text-indent: 50px">– Finance Minister ET (Bob) Richards<p>
        </div>
    </div>

    <br>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-7">
            <p>Building a new airport terminal will create hundreds of construction jobs, and provide business for local construction companies – but that’s only the beginning.<p>
            <p>The new airport will have space for more shops and restaurants than the current facility. Once the terminal is built, more retailers will be operating there, and that means more permanent jobs.</p>
            <p>A 21st century airport will also help Bermuda attract more tourists and business people, which means more jobs across the entire island in hotels, restaurants, and small businesses.</p>
            <p>Finally, let’s not forget that the airport project will inject hundreds of millions of dollars of foreign capital into the Bermuda economy, creating more jobs for Bermudians.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>



    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-7">
                <!-- <p>Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
