<% @articles.each do |a| %>
  <a href="<%= a.url %>"><%=a.headline%></a>
  <%= a.date_published.strftime("%B %e %Y")%><br><br>
  <%= a.snippet %>
  <br><br>
<% end %>

<!--
create_table "articles", force: :cascade do |t|
  t.string   "headline"
  t.string   "author"
  t.string   "outlet"
  t.datetime "date_published"
  t.text     "snippet"
  t.string   "url"
end -->
