<!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
  </script>


<!-- Header Carousel -->
<div id="faqHeader">
  <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <div class="fill" style="background-image">
                <%= image_tag("airport.jpg", style: "background-image", class: "fill")%>
              </div>
              <div class="carousel-caption">
                  <h2>Why Bermuda Needs a New Airport Terminal</h2>
              </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image">
              <%= image_tag("sunset.jpg", style: "background-image", class: "fill")%>
            </div>
              <div class="carousel-caption">
                  <h2>The Airport Project is a Great Deal for Bermuda</h2>
              </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image">
              <%= image_tag("employee.jpg", style: "background-image", class: "fill")%>
            </div>
              <div class="carousel-caption">
                  <h2>The New Airport Terminal Will Create Jobs & Improve the Economy</h2>
              </div>
          </div>

          <div class="item">
                <div class="fill" style="background-image">
                  <%= image_tag("kids.jpg", style: "background-image", class: "fill")%>
                </div>
                <div class="carousel-caption">
                    <h2>Having Aecon pay for the airport will free up money for after school programs</h2>
                </div>
            </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>
  </header>

<!-- Marketing Icons Section -->
  <div class="background">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                A New Airport – Without New Debt
            </h1>
        </div>
        <div class="col-md-4">
            <div id="custom" class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Get the Facts</h4>
                </div>
                <div class="panel-body">
                    <p>There’s been a lot of disinformation spread about the airport redevelopment project. It’s time to separate the truth from fiction.</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> Airport News</h4>
                </div>
                <div class="panel-body">
                    <p>Read the latest news & columns regarding the airport development.</p>
                    <a href="#" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Frequently Asked Qs</h4>
                </div>
                <div class="panel-body">
                    <p>Find answers to some the most common questions about the airport redevelopment project.
                    <br>
                    <br></p>
                    <a href="faq.html" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
      </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Airport Features</h2>
        </div>
        <div class="col-md-6">
            <p>The new airport will do all these things:</p>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>

        <div class="col-md-6">
          <div class="videoWrapper">
          <iframe width="700" height="450" src="https://www.youtube.com/embed/E6pFUy8C8ug" frameborder="0" allowfullscreen></iframe>
          <!-- <video width:"700", height="450" controls >
            <source src="" type="">
          </video> -->
        </div>
        </div>
    </div>
  </div>  <!-- for background -->

    <!-- /.row -->

    <!-- Call to Action Section -->
    <br>
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="contact.html">Subscribe for More</a>
            </div>
        </div>
    </div>

    <hr>
