<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">News<h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <h3>Sylvan Richards On New Airport Plans</h3>
            <h4>Bernnews</h4>
            <h5>April 7, 2015</h5>
            <p>Christopher Famous has made a number of criticisms of Bermuda’s proposed new airport project, which may lead your readers to suppose that for some unexplained reason we have made a very, very bad decision. That’s not the case at all, and I would appreciate an opportunity to set the record straight.</p>
            <a class="btn btn-primary" href="http://bernews.com/2015/04/opinion-sylvan-richards-on-new-airport-plans/">View Article</i></a>
        </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->

    <hr>

      <div class="row">
        <div class="col-md-7">
            <h3>MP Cole Simons On New Airport Plans</h3>
            <h4>Bernnews</h4>
            <h5>January 9, 2015</h5>
            <p>The Opposition’s attempt to persuade Bermuda that the scheme to build a new airport is a stealthy way of selling the birthright of Bermudians to foreigners relies on three pieces of fiction. The first fiction is that we are signing over to the Canadian Commercial Corporation about a billion dollars in revenue by giving the firm, in return for the investment it will make, a concession to run the airport for 30 years. That’s easy to deal with – the airport’s net return to the Government is less than $2 million a year. Even if you’re really, really bad at arithmetic, you can’t make that add up to a billion dollars.</p>
            <a class="btn btn-primary" href="http://bernews.com/2015/01/mp-cole-simons-on-new-airport-plans/">View Article</i></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-md-7">
            <h3>MP Jeff Sousa On Airport Development</h3>
            <h4>Bernnews</h4>
            <h5>December 1, 2014</h5>
            <p>The Opposition has attacked Government plans to rebuild the airport in part by saying that because it has not involved a competitive tender, it is “a slap in the face to good governance,” as Shadow Finance Minister David Burt put it. As is often the case, the Opposition is making that claim without doing its homework. Had they looked around a little, they would have learned that many western governments are being advised consider alternatives to competitive tendering, especially for projects as large as this one.</p>
            <a class="btn btn-primary" href="http://bernews.com/2014/12/debdone-opinion-airport-contract/">View Article</i></a>
        </div>
    </div>


    <hr>



    <!-- Pagination -->
    <!-- <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <!-- <p>Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
