    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Get the Facts on the Airport Redevelopment Project</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>There’s been a lot of disinformation about the airport project spread by the opposition, which seems to be more interested in scoring political points than creating jobs and reviving Bermuda’s economy. It’s time to separate truth from fiction on the proposal to build a new airport terminal.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <strong>Claim: </strong>The Government is giving up hundreds of millions in revenue to Aecon.
              <br>
              <p><strong>The Truth: </strong>Bermuda’s Government is not giving anything away. Under the proposed arrangement, Aecon will pay all of the upfront costs of building the new terminal, and Aecon, not the Government, will have to pay for the operation of the airport for the next 30 years. As a result, revenue from the airport will go to pay Aecon for the material they’ll use to build the airport, for transporting it to Bermuda, and for the salaries and wages they’ll have to pay to their construction crews. Any money they earn will first go towards paying off the cost of construction. After that, Bermuda and Aecon will have a profit-sharing agreement, which will provide the government with a steady stream of income and make sure no profiteering is going on at Bermuda’s expense. So while we are not giving anything away, we still have to remember that this new airport isn’t going to be free. Aecon is building Bermuda a new airport at no upfront cost to the Bermuda government and without adding to the public debt, and they will have to be paid back for their investment.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <strong>Claim: </strong>Bermuda will not get a fair deal unless the airport project goes out to tender.
              <br>
              <p><strong>The Truth:</strong>
              The Bermuda Government has used the tender process for years on its large building projects, and has seen cost overruns totaling hundreds of millions of dollars. More and more, other countries are finding the same thing– asking for tenders, especially with big infrastructural projects, almost always results in cost overruns. That’s why many governments are finding public-private partnerships a better way to cost-effectively finance large infrastructure projects like airports. The arrangement we have made with the Canadian Commercial Corporation is a type of public-private partnership that involves no upfront spending for the airport by Bermuda, and no new debt for Bermuda. We are also given a guarantee by the Canadian Government that their project will be delivered on time, on budget, and according to specifications. That’s a huge plus for Bermuda’s taxpayers since it means there won’t be cost overruns – period.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <strong>Claim: </strong>The Government is trying to privatise the airport.
              <br>
                <p><strong>The Truth:</strong>
              All of the land and buildings that comprise the airport will continue to be owned with the Government of Bermuda. Aecon will not hold any ownership of the property or facilities. The title to the airport remains with the Bermuda Government. This is simply a partnership between a public enterprise and a private enterprise, similar to the public-private partnership which was used to build to our new hospital. The opposition did not object to that agreement. In fact, they helped arrange it.
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <strong>Claim: </strong>The new airport will be owned by Aecon, which could sell it at any time.
              <br>
                <p><strong>The Truth:</strong>
                  Once again, the investors will not own the property or the facility. Aecon will be managing the airport for a 30-year period, but the title to the airport will remains with the Bermuda Government. No one has the power to sell our airport. The airport and all its assets will always be owned by Bermuda and her people.
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <strong>Claim: </strong>We can just fix the current terminal instead of building a new one.
              <br>
                <p><strong>The Truth:</strong>
              Repairing the terminal would cost at least $115 million – which would mean Bermuda taking on more public debt it simply cannot afford. Moreover, while the maintenance problems might subside temporarily, Bermuda would still be left with an old airport, with all its faults and inconveniences. The terminal still would not have the features you find in modern airports, like jet bridges, and it would not be wheelchair-friendly. Above all, the airport would still be located too close to the water, where it is vulnerable to severe storms and flooding.
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <p>Copyright &copy; Your Website 2014</p> -->
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
