    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Get the Facts
                    <small>Get the Facts on the Airport Redevelopment Project</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Full Width Page</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>There’s been a lot of disinformation about the airport project spread by the opposition, which seems to be more interested in scoring political points than creating jobs and reviving Bermuda’s economy. It’s time to separate truth from fiction on the proposal to build a new airport terminal.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
              <h3><strong>Claim:</strong> The Government is giving up hundreds of millions in revenue to Aecon.</h3>
                <p>There’s been a lot of disinformation about the airport project spread by the opposition, which seems to be more interested in scoring political points than creating jobs and reviving Bermuda’s economy. It’s time to separate truth from fiction on the proposal to build a new airport terminal.</p>
                <br>
              <strong>The Truth:</strong>
              <p>Bermuda’s Government is not giving anything away. Under the proposed arrangement, Aecon will pay all of the upfront costs of building the new terminal, and Aecon, not the Government, will have to pay for the operation of the airport for the next 30 years. As a result, revenue from the airport will go to pay Aecon for the material they’ll use to build the airport, for transporting it to Bermuda, and for the salaries and wages they’ll have to pay to their construction crews. Any money they earn will first go towards paying off the cost of construction. After that, Bermuda and Aecon will have a profit-sharing agreement, which will provide the government with a steady stream of income and make sure no profiteering is going on at Bermuda’s expense. So while we are not giving anything away, we still have to remember that this new airport isn’t going to be free. Aecon is building Bermuda a new airport at no upfront cost to the Bermuda government and without adding to the public debt, and they will have to be paid back for their investment.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
