<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Frequently Asked Questions Regarding Bermuda's New Airport Terminal</h3>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why does Bermuda need a new airport terminal?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                          The LF Wade International Airport is deteriorating.
                          Those who work there agree with the need for a new facility. As do both political parties.
                          The former government spent $3 million on a study which determined that the terminal’s useful life ended in 2008. So the current building is operating on borrowed time.
                          That’s why over the last decade, each Government has proposed ways to address this problem – a problem that’s getting worse with each year of neglect.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">So why not just repair the current terminal?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          Repairing the current terminal would cost at least $115 million – and Bermuda would still be left, essentially, with an old airport.
                          Maintenance problems might go away temporarily, but the terminal would still have its faults and inconveniences.
                          And the repaired facility would neither be wheelchair-friendly or have any of the features travellers expect in modern airports, like jet bridges.
                          In addition, if we repair the current building, visitors to Bermuda will have to travel through a construction site for more than three years, including the time of the America’s Cup.
                          That won’t happen if we build a new terminal at a new location, while the old terminal is still operating.

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What exactly are the problems with the airport terminal?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          While we try to keep the airport’s problems from being obvious to visitors, under the paint, the old terminal is crumbling.
                          When it rains outside it rains inside.  The sewage system is below sea level so when the tide is high and the wind is in the east, the toilets at our airport do not flush.  The carpeting and flooring has had to be replaced several times because the sewage comes up from underneath.
                          Since the airport was built in phases, the parts built long ago are settling at a different rate then the newer ones.  That means the facility is now twisting itself apart because it was not built on solid ground.
                          For Bermuda’s taxpayers, repairing the current airport would be throwing good money after bad – and still would not solve its location problems.

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What’s wrong with the terminal’s current location?
</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                          The current terminal is in the worst possible location when it comes to exposure to severe weather.
                          Hurricane winds often come out of the north-east into Castle Harbour.  As a result, the sea builds itself up at precisely the area where the current airport stands, flooding it and its surroundings.
                          No matter what we do to the present terminal, it will always be susceptible to storm damage because it’s located too close to the water.
                          After Hurricane Fahy, which was a minimum hurricane, the airport suffered extensive damage.
                          After Hurricane Fabian, while the building did not cave in, the roof almost did. And had that roof collapsed it would have completely destroyed the terminal.
                          As long as the terminal is in its current location, this will always be a problem.  No matter what we do to the present terminal, it will always be susceptible to storm damage because it is too close to the water.
                          As the principal gateway to the island, we have to protect our airport from an increasing threat of stronger hurricanes caused by global warming.
                          Bermuda’s economy and people suffer when our airport has to be shut down.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How does a new terminal solve those problems?
</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                          Moving the terminal further away from Castle Harbour and raising it helps better protect the building from storm damage by virtue of its elevation and distance from the water.
                          The new terminal, built on a platform, would be 5.2 meters above sea level and 317 meters away from the most vulnerable shore, instead of 35 meters as it is currently.

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why doesn’t Bermuda simply borrow the money to build a new airport?</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                          Due to the previous government’s spending, we’ve borrowed so much over the last 10 years that we’re near the maximum level of debt our economy can sustain. We’re already paying $187 million this year in interest payments alone.
                          Borrowing several hundred million more dollars could mean a further lowering of our credit rating, which would put heavy pressure on Bermuda’s international businesses to relocate elsewhere causing chaos for our economy.
                          We had to find another way of paying for it, and the best alternative was one being used by governments around the world: attracting others to invest through a Public Private Partnership, or P3.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How much is the new airport going to cost?
</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                          When the previous Government made plans to build a new airport their estimated cost was $514 million.
                          This Government’s revised design lowers that by nearly 50% and Bermuda still gets a world-class airport.
                          And the financing method we are using guarantees against cost overruns since it is a guarantee from the Canadian Government.

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">But won’t the jobs created just be temporary construction jobs?
</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                          Yes, there will be hundreds of construction jobs – but that’s only the beginning.
                          Once the airport is built, a lot more retailers will be operating there, and that means more permanent jobs.
                          The ability to attract more tourists and business people means more jobs across the entire island in hotels, in restaurants, and small businesses.

                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Why is the government working with CCC and Aecon to build the airport?
</a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                          Like our Tourism Authority promotes Bermuda as a tourist destination, other countries have organizations whose job it is to promote their products abroad.
                          The Canadian Commercial Corporation is one of the best and most successful of these promotional organisations.  It matches another Government’s need with an organisation in Canada that can satisfy it.
                          And because CCC is a Canadian Government organisation, they only recommend companies they know will do the job well and protect Canada’s reputation.
                          CCC teamed us with Aecon, Canada’s largest infrastructure development company.
                          Aecon has built iconic structures like the CN Tower, the St. Lawrence Seaway and Terminal Three at Toronto’s Pearson International Airport.  It has participated in over 200 public private partnerships.
                          Aecon has built and run airports around the world and a great match for us.
                          We are also given a guarantee by the Canadian Government that their project will be delivered on time, on budget and according to specifications.
                          That’s a huge plus for Bermuda’s taxpayers since it means there won’t be cost overruns – period.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">But critics say that Bermuda is giving up millions in revenue that would normally go into the Government’s coffers.  Is that true?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                          The quick answer is no. Bermuda’s Government is not giving anything away.
Once the deal is signed and sealed, revenue from the airport will go to pay Aecon for the material they’ll use to build the airport, for transporting it to Bermuda, and for the salaries and wages they’ll have to pay to their construction crews.
When the new airport is complete, they will have a 30 year management agreement to run the airport.
And they, not the Government, will have to pay for the operation of the airport during that time with any monies they earn first going toward paying off the cost of construction.
After that, Bermuda and Aecon will have a profit-sharing agreement, which gives us income and makes sure no profiteering is going on at Bermuda’s expense.
So while we are not giving anything away, we still have to remember that this new airport isn’t going to be free.  The investor, Aecon, has to be paid back for the investment they’re making.
We are all Bermudians who love our country and want to do the best we possibly can for it. The deal we’re setting up with Aecon is a good deal for Bermuda.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">But what about the attacks and opposition Bermudians are hearing about the airport?</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                          There have been accusations by some groups that the Bermuda airport will be owned by Aecon and could be sold by them. Both accusations are completely false. The truth is the investors will not own the property or the facility.
                          Bermudians should be clear that no one – no one – has the power to sell our airport. The airport and all its assets will always be owned by Bermuda and her people.
                          The misinformation about this deal is being spread by groups pushing their own political agenda without any concern for the new jobs they’re undermining, or the damage they’re doing to our efforts to fix the economy.
                          They are trying to make Bermudians believe that the Government is helping a Canadian company make millions out of the Bermudian taxpayer.  Nothing could be further from the truth.
                          We are working hard to find the best way to replace a crumbling facility, create hundreds of badly-needed jobs for Bermudians, and improve our economy, all without increasing the public debt. That’s what’s really going on.
                          Announcing the deal last year, Minister Richards said it best:

                          “The redevelopment of the Bermuda airport represents one of the most important capital projects ever undertaken on our island shores. It will play a crucial role in the renaissance of the Bermuda economy. We want that first impression to be consistent with the brand that Bermuda presents to the world and that brand can be summed up as, First Tier, First Class, First World.”
                        </div>
                    </div>
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
