<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-7">
            <h1 class="page-header">Bermuda Badly Needs a New Airport Terminal</h1>

        </div>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/O77M5GKakbc" frameborder="0" allowfullscreen></iframe>


    <hr>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-7">
            <p>A study commissioned by the former government determined that the current airport terminal’s useful life ended in 2008. The building is well past its expiration date, and operating on borrowed time.</p>

            <p>Parts of the facility were built in the 1940s – nearly 70 years ago. The rest was added piecemeal – with additions built in the 1950s, 1960s, and 1980s. The result is a shabby, haphazard facility that is difficult to operate and expensive to maintain.</p>

            <p>Since the airport was built in phases, the parts built long ago are settling at a different rate then the newer ones. That means the facility is now twisting itself apart because it was not built on solid ground.</p>

            <p>When it rains outside it rains inside. The sewage system is below sea level so when the tide is high and the wind is in the east, the toilets at our airport do not flush. The carpeting and flooring has had to be replaced several times because the sewage comes up from underneath.</p>

            <p>Most alarming of all, the current terminal is in the worst possible location when it comes to exposure to severe weather. Hurricane winds often come out of the northeast into Castle Harbour. As a result, the sea builds itself up at precisely the area where the current airport stands, flooding it and its surroundings.</p>

            <p>After Hurricane Fay, which was not a particularly strong hurricane, the airport suffered extensive damage. After Hurricane Fabian, the roof nearly collapsed, which would have completely destroyed the terminal. Next time we may not be so lucky.</p>

            <p>As long as the terminal is in its current location, it will always be susceptible to storm damage because it’s located too close to the water. That’s why the airport redevelopment project would move the terminal 300 meters away from Castle Harbour and raise it 5 meters above sea level to help protect the building from storm damage. Bermuda’s economy and people suffer when our airport has to be shut down, which is going to happen more and more often as long as we continue to neglect this problem.</p>
            <br>
            <h4>Why not just repair the current airport?</h4>
            <br>
            <p>There are some who argue that we should simply fix the current terminal rather than build a new one. Yet repairing the terminal would cost at least $115 million – and Bermuda would still be left with an old airport. The maintenance problems might go away temporarily, but it would still be the old airport with all its faults and inconveniences.<p>

            <p>The repaired facility would not have the features you find in modern airports, like jet bridges, and it would not be wheelchair-friendly. Above all, the airport would still be located too close to the water.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>



    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-7">
                <!-- <p>Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
