<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-7">
            <h1 class="page-header">The Airport Project is a Great Deal for Bermuda</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-7">
            <p>Bermuda badly needs to build a new airport – but we can’t afford to pay for it, or take on any more public debt. Due to the previous government’s spending, we’ve borrowed so much over the last 10 years that we’re near the maximum level of debt our economy can sustain. We’re already paying $187 million this year in interest payments alone.
            </p>
            <p>We had to find another way of paying for the new airport, which is why we looked at an alternative being used by governments around the world: attracting others to invest through a public-private partnership. More and more, countries are utilizing public-private partnerships for the same reason we are – asking for tenders, especially with big infrastructural projects, almost always results in cost overruns.
            </p>
            <p>
            That’s why the government turned to the Canadian Commercial Corporation, or CCC. In the same way our Tourism Authority promotes Bermuda as a tourist destination, other countries have organizations whose job it is to promote their products abroad. The CCC is one of the best and most successful of these promotional organisations.
            </p>
            <p>
            It matches another government’s need with an organisation in Canada that can satisfy it, and oversees contracts from start to finish.  Working as Prime Contractor, the Corporation stands behind every sub contract with the full assurance of the Government of Canada. And because CCC is a Canadian Government organisation, they only recommend companies they know will do the job well and protect Canada’s reputation.
            </p>
            <p>
            The arrangement we have made with the CCC is a type of public-private partnership that involves no upfront spending for the airport by Bermuda, and no new debt for Bermuda. This arrangement cuts procurement time dramatically, allowing construction to get underway and jobs to be created much sooner than traditional methods. We are also given a guarantee by the Canadian Government that their project will be delivered on time, on budget, and according to specifications. That’s a huge plus for Bermuda’s taxpayers since it means there won’t be cost overruns – period.
            </p>
            <p>
            To actually build the facility, CCC teamed us with Aecon, Canada’s largest infrastructure development company. Aecon has built iconic structures like the CN Tower, the St. Lawrence Seaway and Terminal Three at Toronto’s Pearson International Airport. It has participated in over 200 public-private partnerships, and has built and run airports around the world.
            </p>
            <p>
            Under the proposed arrangement, Aecon will pay all of the upfront costs of building the new terminal, and Aecon, not the Government, will have to pay for the operation of the airport for the next 30 years.
            </p>
            <p>
            As a result, revenue from the airport will go to pay Aecon for the material they’ll use to build the airport, for transporting it to Bermuda, and for the salaries and wages they’ll have to pay to their construction crews. Any money they earn will first go towards paying off the cost of construction. After that, Bermuda and Aecon will have a profit-sharing agreement, which will provide the government with a steady stream of income and make sure no profiteering is going on at Bermuda’s expense.
            </p>
            <p>
            When a family cannot afford to pay the entire cost of a home upfront, they take out a mortgage. That is essentially what we are doing with the construction of the new airport. Aecon will have to pay off the mortgage – the money they are borrowing to construct the building – over the next 30 years.
            </p>
            <p>
            There has been a lot of disinformation from the opposition about this deal, but Bermudians should know that the airport and all its assets will always be owned by Bermuda and her people. Aecon will not hold any ownership of the property or facilities, and they will certainly not be able to sell our airport.
            </p>
            <p>
            This is simply a partnership between a public enterprise and a private enterprise, similar to the public-private partnership that was used to build to our new hospital wing. The opposition did not object to that agreement. In fact, they helped arrange it.
            </p>
            <p>
            The bottom line is that the airport redevelopment project is a great deal for Bermuda. It will replace a crumbling facility, create hundreds of badly-needed jobs for Bermudians, and improve our economy, all without increasing the public debt.
            </p>
      </div>
    </div>
    <!-- /.row -->

    <hr>


    <div class="row">
        <div class="col-lg-7">
            <h2 id="schools">Having A Partner Pay for the Airport Will Free Up Money for Students and Seniors</h2>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-7">
            <p>The arrangement we have made with the Canadian Commercial Corporation is a type of public-private partnership that involves no upfront spending for the airport by Bermuda, no new debt for Bermuda, and no potential for cost overruns.

            This agreement, in which a partner supplies the financing for our new airport, will free up the Government to use money that it would have spent on the airport’s construction and maintenance.

            That means new funding to instead help renovate schools and provide cost-of-living increases for seniors.
      </div>
    </div>
    <!-- /.row -->


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-7">
                <!-- <p>Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
