@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "modern-business";

// @import "custom";
.panel-default > .panel-heading {
  background-color: #0084b4;
}

// #homepage a

#myCarousel > div > div.item.active > div.carousel-caption > h2 > a {
  color: #ffffff;

}

#myCarousel a {
  color: #ffffff;
}

#navigation a {
  color: #ffffff;
}

.navbar {
  background-color: #b41017;
}

.navbar-brand a {
  color: #ffffff;
}

#bs-example-navbar-collapse-1 a {
  color: #ffffff;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.faqHeader {
  width: 100%;
  height: 100%;
}
